*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", Arial, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
a {  
  font-family: "Crimson Text", Arial, Tahoma, sans-serif;
}

.bold {
  font-weight: bold;
}