.side-nav {
  font-size: 2rem;
  list-style: none;
  margin-top: 5rem;
  position: relative;

  &__item {
    border-bottom: 1px solid transparent;
    color: $color-link;
    text-align: center;
    padding: 1rem 4rem;

    &:hover {
      border-bottom: $border;
      color: $color-hover;
      cursor: pointer;

      @include respond(tab-port) {
        border-bottom: 1px solid transparent;
      }
    }

    &--active {
      color: $color-active;
    }

    @include respond(phone) {
      display: inline;
      padding: 20px;
    }

    @include respond(tiny) {
      padding: 5px;
    }
  }

  &__link:link,
  &__link:visited {
    color: inherit;
    text-decoration: none;
  }

  &__sub {
    background-color: $color-main;
    box-shadow: $box-shadow;
    border: $border;
    float: right;
    font-size: inherit;
    padding: 1rem;
    position: absolute;
    top: 60%;
    visibility: hidden;
    right: -190%;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &__item {
      list-style-type: none;
      border-bottom: 1px solid transparent;
      color: $color-link;
      padding: 1rem 2rem;

      &:hover {
        border-bottom: $border;
        color: $color-hover;
        cursor: pointer;
      }
    }

    &__link {
      color: inherit;
      text-decoration: none;
    }

    @include respond(tab-port) {
      display: none;
    }

    // @include respond(phone) {
    //   padding: 0;
    //   top: 40px;
    //   right: 0;
    // }  May bring back for mobile!
  }

  &__item__sub:hover + &__sub,
  &__sub:hover {
    visibility: visible;
    transform: translateX(1rem);
  }

  @include respond(phone) {
    margin-top: 0;
  }
}

.legal {
  color: $color-text;
  font-size: 1.05rem;
  margin-top: auto;
  padding: 0 10px;

  @include respond(phone) {
    display: none;
  }
}

.mini-nav {
  display: flex;
  justify-content: space-around;
  overflow: hidden;

  &__item {
    list-style-type: none;
    padding: 1rem 2rem;
  }

  &__item:not(:last-child) {
    @include respond(phone) {
      border-right: none;
    }
  }

  @include respond(phone) {
    align-items: center;
    flex-direction: column;
  }
}

.bullet-list {
  margin-left: 3rem;

  &__item {
    padding-top: 1rem;
  }
}

.contact {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3rem;

  &__icon {
    margin-right: 1rem;
  }

  &__address,
  &__phone,
  .hours {
    grid-column: 2/3;
    padding-left: 15%;
  }

  &__address {
    @include respond(tab-port) {
      grid-column: 1/2;
      grid-row: 1/2;
      padding: 0;
    }
  }

  &__phone {
    grid-row: 2/2;

    @include respond(tab-port) {
      grid-column: 2/3;
      grid-row: 1/2;
      padding: 0;
      text-align: right;
    }
  }

  @include respond(tab-port) {
    grid-template-rows: 10rem 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}

.hours {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 15rem 10rem;
  grid-row: 3/3;

  &__title {
    grid-column: 1/-1;
  }

  &__days {
    border-right: $border;
    padding: 0.5rem;
  }

  &__days:nth-child(-n + 2),
  &__time:nth-child(-n + 3) {
    border-bottom: $border;
  }

  &__time {
    padding: 0.5rem;
  }

  @include respond(tab-port) {
    display: none;
  }
}

.form {
  grid-column: 1/2;
  grid-row: 1/-1;

  &__input,
  &__textarea {
    background-color: rgba($color-main, 0.9);
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 2px;
    color: inherit;
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1rem 2rem;
    width: 100%;
    display: block;
    transition: all 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-text, 0.1);
      border-bottom: 3px solid green;
    }

    &:focus:invalid {
      border-bottom: 3px solid red;
    }

    &::-webkit-input-placeholder {
      color: $color-hover;
    }
  }

  &__label {
    margin-left: 2rem;
    margin-bottom: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__submit {
    background: $color-active;
    box-shadow: 3px 3px 3px rgba($color-text, 0.4);
    border: $border;
    color: $color-main;
    width: 10rem;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin-top: 2rem;
    float: right;

    &:active {
      box-shadow: none;
      margin-top: 2.1rem;
    }
  }

  @include respond(tab-port) {
    grid-row: 2/-1;
    grid-column: 1/-1;
    width: 100%;
  }

  @include respond(tiny) {
    margin-top: 2rem;
  }
}
