// COLORS
$color-main: #F0F0F2;
$color-text: #0D0D0D;
$color-link: #402A38;
$color-hover: #9498A6;
$color-active: #73534C;

// BOX SHADOWS
$box-shadow: 0 1rem 1rem rgba($color-text, .4);

// MEDIA QUERY MANAGER
@mixin respond($breakpoint) {
  @if $breakpoint == tiny {
    @media only screen and (max-width: 25em) {
      @content
    } // 400px
  }
  
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content
    } // 600px
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content
    } // 900px
  }

}