// COLORS
$color-main: #f0f0f2;
$color-text: #0d0d0d;
$color-link: #402a38;
$color-hover: #9498a6;
$color-active: #73534c;

// BOX SHADOWS
$box-shadow: 0 1rem 1rem rgba($color-text, 0.4);

// BORDER
$border: 1px solid $color-hover;

// MEDIA QUERY MANAGER
@mixin respond($breakpoint) {
  @if $breakpoint == tiny {
    @media only screen and (max-width: 25em) {
      @content;
    } // 400px
  }

  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } // 600px

    // If mobile is turned to landscape
    @media only screen and (max-height: 27em) and (min-width: 37.5em) {
      @content;
    } // 432px 600px
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } // 900px
  }
}
